.button {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 24px;
  height: 24px;
  padding: 0;

  background-color: transparent;
  border: none;
  border-radius: 50%;
  outline: none;
}

.content {
  position: relative;

  min-width: 134px;
  padding: 12px;

  background-color: var(--color-dark-700);
  border: 1px solid var(--color-dark-500);
  border-radius: var(--border-radius-s);
}
