.img {
  width: 400px;
  height: 250px;
  border-radius: 20px;
}

.page {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  padding: 20px;
  justify-content: flex-start;
  align-content: flex-start;
  gap: 20px;
  background-color: #004369;
  //background-image: url("https://www.footyrenders.com/render/virgil-van-dijk-14.png");
  //background-size: cover;
  border-radius:20px;
}

.flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.flag {
  width: 40px;
  height: 25px;
  border-radius: 20px;
}

.logo {
  width: 25px;
  height: 35px;
  border-radius: 20px;
}


.playerInfo {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.cellStat {
  background-color: #09619f;
}