.img {
  width: 400px;
  height: 250px;
  border-radius: 20px;
}

.page{
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: flex-start;
  align-content: flex-start;
}

.flipped {
  transform: translateX(-100%) rotateY(-180deg);
}
