.card {
  max-width: 413px;
  padding: 33px 36px 60px;
  margin-top: 100px;
flex-direction: column;
}


.title {
  margin-bottom: 51px;
  text-align: center;
  color:#004369;

}

.input {
  margin-bottom: 19px;
}

.instructions {
  margin-bottom: 41px;
  color: var(--color-light-900);
  opacity: 0.5;
  display: flex;
}