

.card {
  display: flex;
  flex-direction: column;
  max-width: 413px;
  padding: 33px 36px 29px;
  margin-top: 100px;
  background-color: #004369;
}

.title {
  margin-bottom: 50px;
  text-align: center;
}

.form {
  width: 100%;
  margin-bottom: 19px;
}

.instructions {
  margin-bottom: 65px;
  opacity: 0.8;

}

.button {
  margin-bottom: 31px;
}

.caption {
  margin-bottom: 11px;
  text-align: center;
}

.loginLink {
  display: flex;
  justify-content: center;

  font-size: var(--font-size-m);
  font-weight: var(--font-weight-bold);
  color: var(--color-accent-500);
}