.root {
  //background-color: var(--color-bg-paper);
  border-radius: 2px;
  box-shadow: 1px 1px 2px rgb(0 0 0 / 10%), -1px -1px 2px rgb(0 0 0 / 10%);
  height: 100%;
  width: 100%;
  display: flex;

  //rotate: 180deg;
}

.root.flipped {
  transform: translateX(-100%) rotateY(-180deg);
}