.button {
  background-color: #01949A;
  margin-top: 10px;
}

.textField {
  display: flex;
  margin-right: 40px;
  justify-content: center;
}

.checkbox {
  margin-bottom: 6px;
}

.form {
  //display: flex;
  //flex-direction: column;
  //gap: 8px;


}